*.DS_Store
*.pyc
*.egg*
venv*
cvdso/cvdso/summary*
*log_*
.ipynb_checkpoints
~$*
*.vscode/
cvdso/build
cvdso/cvdso/cyfunc.c
cvdso/cvdso/cyfunc*.so
**/log/
/tmp
/demo-web/user
/demo-web/static/image/user/
*videos
*bsub
dep-repos/
.*
!/.gitignore
